# OSX system file
.DS_Store

# project
EvoRadio/xcuserdata
EvoRadio.xcworkspace/xcuserdata/
EvpRadio.xcodeproj/xcuserdata/

# pod
Pods/
Podfile.lock

# carthage
Carthage/
Cartfile.resolved

# test files
Test/
