# OSX system file
i.DS_Store

# project
EvoRadio.xcodeproj/project.xcworkspace/xcuserdata
EvoRadio.xcworkspace/project.xcworkspace/xcuserdata

# pod
Pods/

# carthage
Carthage/
Cartfile.resolved

# carthage
Carthage/

# test files
Test/
