# OSX system file
i.DS_Store

# project
EvoRadio.xcodeproj/project.xcworkspace/xcuserdata
EvoRadio.xcworkspace/project.xcworkspace/xcuserdata

# pod
Pods/
Podfile.lock

# carthage
Carthage/
Cartfile.resolved

# test files
Test/
