# 类映射
github "Hearst-DD/ObjectMapper" ~> 2.2

# 图片加载
github "onevcat/Kingfisher" ~> 3.0

# 网络请求
github "Alamofire/Alamofire" ~> 4.4

# 自动布局
github "SnapKit/SnapKit" ~> 3.2.0

# 提示蒙版
github "jdg/MBProgressHUD" ~> 1.0.0

# 下拉刷新、加载更多
github "SongJiaqiang/MJRefresh" "master"

# 音频播放
github "SongJiaqiang/StreamingKit" "master"

# 旋转木马特效
github "SongJiaqiang/CarouselKit" "master"

# 动画特效
github "facebook/pop" ~> 1.0.7

# 键值对存储
github "SongJiaqiang/ObjcLevelDB" ~> 0.0.1
